
/* por algum motivo se apagar isso mexe no cardapio do tulio*/
.container, 
.sobre-nos .container,
.depoimentos .container,
.estatisticas .container,
.galeria-fotos .container,
.timeline-section .container {
  text-align: center !important;
  width: 100% !important;
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}
